:root {
    --color-button:#1173b4;
    --color-button-hover:#1173b4;
    --color-button-text:#fff;
    --color-button-text-hover:#fff;

    --color-menu-top-image:linear-gradient(154deg,#dd00e2 0,#8400b3 100%);
    --color-border-top:#aaadb3;
    --color-box-border:#e2e4eb;

    --color-sidebar-image:linear-gradient(154deg,#c1c3c8 0,#aaadb3 100%);
    --color-sidebar-text:#222;
    --color-sidebar-text-info:#222;
    --color-sidebar-text-active:#8400b3;
    --color-sidebar-title:#e2e4eb;
    --color-sidebar-title-text:#222;
    --color-sidebar-title-border:#1173b4;

    --color-details-head:rgba(255,255,255,0.2);
    --color-details-head-text:#222;
    --color-details:#cfd1d9;
    --color-details-text:#222;
    --color-details-button:#8400b3;
    --color-details-button-text:#fff;
    --color-details-button-hover:#1173b4;
    --color-details-button-text-hover:#fff;
    --color-details-tabbar-text:#222;
    --color-details-list-odd:rgb(0,0,0,0.2);
    --color-details-list-even:rgb(0,0,0,0.1);
    --color-details-list-border-head:#2f3242;

    --color-torrents-list-head:rgba(255,255,255,0.2);
    --color-torrents-list-head-text:#222;
    --color-torrents-list:#e2e4eb;
    --color-torrents-list-text:#222;
    --color-torrents-list-percent:#8400b3;
    --color-torrents-list-percent-text:#fff;
    --color-torrents-list-border-head:#b2b3b5;
    --color-torrents-list-active:#b38ec2;
    --color-torrents-list-hover:#a77fb8;
    --color-torrents-list-odd:rgb(0,0,0,0.05);
    --color-torrents-list-even:rgb(0,0,0,0.1);

    --color-statusbar: #8400b3;
    --color-statusbar-text: #fff;
    --color-statusbar-text-speed: #8d46a6;

    --color-modal:#e2e4eb;
    --color-modal-text:#222;
    --color-modal-sidebar:#c1c3c8;
    --color-modal-sidebar-text:#222;
    --color-modal-sidebar-text-hover:#8d46a6;
    --color-modal-top:#8d46a6;
    --color-modal-top-text:#fff;
    --color-modal-fieldset:#2f3242;

    --color-contextual-menu:#8400b3;
    --color-contextual-menu-text:#fff;
    --color-contextual-menu-bg-hover:#1173b4;
    --color-contextual-menu-text-hover:#fff;

    --color-menu-top-input:#8d46a6;
    --color-menu-top-input-text:#fff;
    --color-menu-top-input-disable:#1c1f25;
    --color-input:#8d46a6;
    --color-input-text:#fff;
    --color-input-disable:#1c1f25;

    --color-scrollbar:#8400b3;
    --color-scrollbar-hover:#dd00e2;

    --color-meter-disk-value:#1173b4;
    --color-meter-disk-value-text:#fff;

    --radius-sidebar-title:10px;
    --radius-meter-value:10px;
    --radius-details-button:10px;

    --color-shadow: rgba(0,0,0,0.6);
    --color-dark: #222;
    --color-red: #bf0000;
    --color-green: #60b30e;
}
