:root {
    /* Buttons */
    --color-button:#cc7b19;
    --color-button-text:#fff;
    --color-button-hover:#e59029;
    --color-button-text-hover:#fff;

    /* Sidebar */
    --color-sidebar:linear-gradient(154deg,#313b46 0,#313b46 100%);
    --color-sidebar-text:#fff;
    --color-sidebar-text-info:#fff;
    --color-sidebar-text-active:#cc7b19;
    --color-sidebar-title:#27313c;
    --color-sidebar-title-text:#cc7b19;
    --color-sidebar-title-border:#27313c;
    --color-sidebar-count:#465564;

    /* Bottom details */
    --padding-details-list:9px;
    --color-details-head:#27313c;
    --color-details-head-text:#fff;
    --color-details:#27313c;
    --color-details-text:#fff;
    --color-details-button:#cc7b19;
    --color-details-button-text:#fff;
    --color-details-button-hover:#e59029;
    --color-details-button-text-hover:#fff;
    --color-details-tabbar-text:#fff;
    --color-details-list-odd:rgba(255,255,255,0.01);
    --color-details-list-even:rgba(255,255,255,0.04);
    --color-details-list-border-head:#313b46;

    /* Torrents List */
    --padding-torrents-list:12px;
    --color-torrents-list-head:#27313c;
    --color-torrents-list-head-text:#fff;
    --color-torrents-list:#343f4b;
    --color-torrents-list-text:#fff;
    --color-torrents-list-percent:#242b33;
    --color-torrents-list-percent-text:#cc7b19;
    --color-torrents-list-border-head:#313b46;
    --color-torrents-list-active:rgba(42,50,60,1);
    --color-torrents-list-hover:rgba(45,54,65,1);
    --color-torrents-list-odd:rgba(255,255,255,0.01);
    --color-torrents-list-even:rgba(255,255,255,0.04);

    /* Status Bar */
    --color-statusbar: #1f2730;
    --color-statusbar-text: #fff;
    --color-statusbar-text-speed: #60b30e;
    --color-meter-disk-value:#cc7b19;
    --color-meter-disk-value-text:#fff;

    /* Modal */
    --color-modal:#313b46;
    --color-modal-text:#fff;
    --color-modal-sidebar:#27313c;
    --color-modal-sidebar-text:#fff;
    --color-modal-sidebar-text-hover:#cc7b19;
    --color-modal-top:#cc7b19;
    --color-modal-top-text:#fff;
    --color-modal-fieldset:#313b46;

    /* Contextual Menu */
    --color-contextual-menu:#27313c;
    --color-contextual-menu-text:#fff;
    --color-contextual-menu-bg-hover:#cc7b19;
    --color-contextual-menu-text-hover:#fff;

    /* Top Menu */
    --color-menu-top:linear-gradient(154deg,#313b46 0,#27313c 100%);
    --color-menu-top-input:#34414e;
    --color-menu-top-input-text:#fff;
    --color-menu-top-input-disable:#27313c;

    /* Scrollbar */
    --color-scrollbar:#cc7b19;
    --color-scrollbar-hover:#cc7b19;

    /* Radius */
    --radius-sidebar-title:10px;
    --radius-meter-value:10px;
    --radius-details-button:5px;

    /* General */
    --color-shadow: rgba(0,0,0,0.6);
    --color-dark: #000;
    --color-red: #bf0000;
    --color-green: #60b30e;
    --color-border-top:#313b46;
    --color-box-border:#313b46;
    --color-box-border-line:#465564;
    --color-input:#465564;
    --color-input-text:#fff;
    --color-input-disable:#27313c;
}
